/* CSS Document */

body {
text-align: center;
margin: 0 auto;
background-color: #F3F3F3;
}

table {
	width: 900px;
}


p {
text-align:left;
}

td {
font-size:14px;
}

tr.odd td:first-child {
	padding-left: 10px;
	width: 500px;
}

tr.even td:first-child {
	padding-left: 10px;
	witdh: 500px;
}

td.instructions {
text-align: left;
}

td.myStyleSmall {
font-size:14px;
text align: center;
padding: 10px;
cursor: default;
}

tr.odd {
background-color: #cecece;
}

tr.even {
background-color: #eaeaea;
}

h1 {
font-size:14px;
font-weight:bold;
color: #FF0000;
}

#answer {
margin: 0 auto;
border: solid 1px;
margin: 10px;
}

#answer p {
padding: 10px;}


.button {
	-moz-box-shadow:inset -16px -15px 0px -50px #ffffff;
	-webkit-box-shadow:inset -16px -15px 0px -50px #ffffff;
	box-shadow:inset -16px -15px 0px -50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408ec2), color-stop(1, #04395c) );
	background:-moz-linear-gradient( center top, #408ec2 5%, #04395c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ec2', endColorstr='#04395c');
	background-color:#408ec2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:3px solid #d6d6d6;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:1px 1px 0px #918891;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #04395c), color-stop(1, #408ec2) );
	background:-moz-linear-gradient( center top, #04395c 5%, #408ec2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#04395c', endColorstr='#408ec2');
	background-color:#04395c;
}.button:active {
	position:relative;
	top:1px;
}

.color-dark-blue {
	color: rgb(1, 67, 99);
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: left
}